@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

input,
button {
  line-height: 1;
  outline: none;
}

button {
  cursor: pointer;
}

.sidebar-avatar {
  width: 3.9rem;
  height: 3.9rem;
}
